[Desktop Entry]
Version=1.0
Type=Application
Name=gui-ss
Comment=GUI spreadsheet front end for tui-ss
Exec=/home/xircon/dmnts/twotb/scripts/tui-ss/gui-ss %F
Icon=x-office-spreadsheet
Terminal=false
Categories=Office;Spreadsheet;
StartupWMClass=gui-ss
MimeType=text/csv;text/tab-separated-values;application/json;
